 {% extends  "base.html.twig" %}

{% block body %}

<a class="btn btn-primary mt-2" href="{{ path('ajoute_employes') }}">Ajouter un employe</a>

<table class="table">
	<thead>
		<tr>
            <th>prènom</th>
            <th>nom</th>
            <th>téléphone</th>
            <th>Email</th>
            <th>Adresse</th>
            <th>Poste</th>
            <th>Salaire</th>
            <th>Date de naissance</th>
            <th>Option</th>
        </tr>
	</thead>
    <tbody>
    {% for employe in employes %}
        <tr>
            <td>{{ employe.prenom }}</td>
            <td>{{ employe.nom }}</td>
            <td>{{ employe.telephone }}</td>
            <td>{{ employe.email }}</td>
            <td>{{ employe.adresse }}</td>
            <td>{{ employe.poste }}</td>
            <td>{{ employe.salaire }}</td>
            <td>{{ employe.datedenaissance }}</td>
            
            <td>
            <a class="btn btn-primary mt-2" href="{{ path('employes_edit', {id: employe.id}) }}">Modifier</a>
            
                 <a onclick="return confirm('voulez-vous supprimer cet article?')" class="btn btn-danger mt-2" href="{{ path('employes_delete', {id: employe.id}) }}">Supprimer</a>
            </td>
        
        </tr>
        
    {% endfor %}
    </tbody>
</table>

{% endblock %}
